/* smaller resolutions */
@media screen and (max-width: 500px) {

    body {
        font-size: 1em;
    }

    .project-image {
        text-align: center;
    }

    .navbar ul {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar ul:last-child{
        display: none;
    }

    section img {
        max-width: 90% !important;
    }
}

@media screen and (min-width: 768px) {

.project-image img {
    max-width: 700px;
    text-align: center;
}

}

@media screen and (min-width: 1100px) {

    .project-image img {
        max-width: 900px;
        text-align: center;
    }
    
    }