/* smaller resolutions */

@media screen and (max-width: 500px) {


    body {
        font-size: 1em;
    }

    .project-image {
        text-align: center;
    }

    .navbar ul {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar ul:last-child{
        display: none;
    }

    #openMenu {
        display: block;
    }

    section img {
        max-width: 90% !important;
    }
}