/* smaller resolutions */
@media screen and (max-width: 500px) {

    body {
        position: relative;
        height: 100%;
    }

    .project-image {
        text-align: center;
    }

    .container {
        display: none;
    }

    .navbar ul {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar ul:last-child{
        display: none;
    }

    section img {
        max-width: 90% !important;
    }

    /* work page */
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4";
    }
}
/* larger resolutions */
@media screen and (min-width: 768px) {
    .project-image {
        max-width: 70%;
    }
    .wrapper {
        gap: 10px 10px;
    }

}

/* larger resolutions */
@media screen and (min-width: 1000px) {
    .project-image {
        max-width: 60%;
    }
}

/* larger resolutions */
@media screen and (min-width: 1150px) {
    .project-image {
        max-width: 55%;
    }
}

