:root {
    --black: #191919;
}

.navbar {
    list-style: none;
    display: inline-flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    cursor: pointer;
    z-index: 5;
    top: 0;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar a:active {
    color: inherit;
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0;
}

.navbar ul:last-child {
    justify-content: flex-end;
}

.minResMenu .contact-CTA {
    margin-right: 30px;
    display: none;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1em;
}

.contact-details a:first-child {
    margin-top: 5px;
}

.minResMenu #CTA {
    font-size: 1.4em;
    margin-bottom: 15px;
}

.navbar li {
    display: inline;
    text-align: center;
    margin: 0px 15px;
}

.navbar li:not(#logo):hover {
    color: #656B7B;
}

.navbar a {
    z-index: 10;
}

.minResMenu {
    width: 100vw;
    background: var(--black);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    transition: transform 0.3s ease-out;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

.minResMenu ul {
    display: flex !important;
    height: 100%;
    justify-content: center !important;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.minResMenu ul li {
    margin: 1em;
}

.minResMenu a {
    color: white;
}

#logo {
    padding-left: 15px;
}

.whitelogo {
    color:white;
}

/* hamburger menu */
.hamburger {
    position: relative;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.line {
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.3s ease-out;
}

.line--top {
    transform: translateY(-7px);
}

.line--bottom {
    transform: translateY(7px);
}

#checkbox {
    display: none;
}

#checkbox:checked~.hamburger .line--top {
    transform: rotate(45deg);
    background-color: white;
}

#checkbox:checked~.hamburger .line--middle {
    transform: translate(25px);
    opacity: 0;
}

#checkbox:checked~.hamburger .line--bottom {
    transform: rotate(-45deg);
    background-color: white;
}

#checkbox:checked~ nav {
    max-height: 100%;
}

.minResMenu.opened {
    transform: translate(0);
}

.minResMenu.closed {
    transform: translate(100%);
}

.closed, .opened {
    transition: transform 0.3s ease-out;
}

.hidden {
    display: none;
}

.nav-fixed {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.nav-active {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
}


/* large resolutions */
@media screen and (min-width: 500px) {
    #openMenu {
        display: none;
        cursor: pointer;
    }
    
    #closeMenu {
        display: none;
        cursor: pointer;
    }
}

/* small resolutions */
@media screen and (max-width: 500px) {
    #openMenu {
        display: block;
    }

    .navbar ul:last-child {
        display:none;
    }

    .contact-CTA {
        margin-right: 30px;
        height: 100px;
        margin: 0 !important;
    }
}
