.navbar {
    /* border: 1px solid black; */
    list-style: none;
    display: inline-flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    cursor: pointer;
    /* color: white; */
}

.navbar ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    align-items: center;  
}

.navbar ul:last-child {
    margin-right: 30px;
    justify-content: flex-end;
}

.navbar li {
    display: inline;
    text-align: center;
    margin: 0px 20px
}

.navbar li:not(#logo):hover {
    color: #656B7B;
}

.minResMenu {
    background: rgb(215,213,255);
    background: linear-gradient(90deg, rgba(215,213,255,1) 0%, rgba(204,255,215,1) 35%, rgba(164,197,203,1) 69%, rgba(136,205,221,1) 100%);    width: 100vh;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    color: black;
}

.minResMenu {
    max-height: 0;
}

.minResMenu ul {
    display: flex !important;
    height: 100%;
    justify-content: center !important;
    flex-direction: column;
    align-items: self-start !important;
}

.minResMenu ul li {
    margin: 1em;
    font-size: 2em;
}

#logo {
    width: 30px;
    color: black;
}

/* hamburger menu */

.hamburger {
    position: relative;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.line {
    position: absolute;
    width: 21px;
    height: 2px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.3s ease-out;
}

.line--top {
    transform: translateY(-7px);
}

.line--bottom {
    transform: translateY(7px);
}

#checkbox {
    display: none;
}

#checkbox:checked~.hamburger .line--top {
    transform: rotate(45deg);
}

#checkbox:checked~.hamburger .line--middle {
    transform: translate(25px);
    opacity: 0;
}

#checkbox:checked~.hamburger .line--bottom {
    transform: rotate(-45deg);
}

#checkbox:checked~ nav {
    max-height: 100%;
}

.hidden {
    display: none;
}


/* large resolutions */
@media screen and (min-width: 500px) {
    #openMenu {
        display: none;
        cursor: pointer;
    }
    
    #closeMenu {
        display: none;
        cursor: pointer;
    }
}

/* small resolutions */
@media screen and (max-width: 500px) {
    #openMenu {
        display: block;
    }

    #closeMenu {
        display: none;
    }

    .navbar ul:last-child {
        margin-right: 30px;
        display: none;
    }
}
