@font-face { font-family: Panama; src: url('Panama Monospace Regular.ttf'); } 
@font-face { font-family: NoveoSans; src: url('NoveoSans-Book.ttf'); } 


:root {
    --menu-color: #EFE9F4;
}

html, body {
    scroll-snap-type: y mandatory;
    padding: 0;
    margin: 0;
    width: 100vw;
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


body {
    font-family: NoveoSans;
    color: black;
}

a {
    text-decoration: none;
}

.project-image {
    height: 50%;
    max-width: 100%;
}

.project-image img {
    box-shadow: 0px 0px 15px 4px #00000021;
    text-align: center;
}

.project-image h1 {
    text-align: center;
}

.footer {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 1em;
    z-index: 3;
    opacity: 1;
    color: black;
}

.animate {
    transition: ease-in opacity 1s;
}

.footer.animate {
    opacity: 1;
}

.left, .right {
    width: 100px;
}

.right a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
