@font-face { font-family: NoveoSans; src: url('/NoveoSans-Book.ttf'); } 


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: NoveoSans;
}

.main {
    height: 100%;
    display: grid;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {  
    padding: 100px 2em;
    display: grid;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 50px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "img1 img2"
      "img3 img4";
}

.img-description {
    color: white;
    position: absolute;
    bottom: 0;
    margin: 5px;
}

.img-description h1 {
    margin: 0;
    font-size: 1.5em;
}

.img {
    /* border: 2px solid black; */
    width: 100%;
    height: 300px;
    position: relative;
    box-shadow: #44444429 0 0 0 400px inset;
}

.img1 {
    background-image: url(/work/images/webp/Betoninis\ namas.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.img2 {
    background-image: url(/work/images/webp/Entrance.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.img3 {
    background-image: url(/work/images/webp/4\ copy.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.img4 {
    background-image: url(/work/images/webp/S2-C1-.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
  
  .img1 { grid-area: img1; }
  .img2 { grid-area: img2; }
  .img3 { grid-area: img3; }
  .img4 { grid-area: img4; }
  .img5 { grid-area: img5; }
  .img6 { grid-area: img6; }
  