@font-face { font-family: NoveoSans; src: url('/NoveoSans-Book.ttf'); } 

:root {
    --black: rgb(71, 71, 71);
}

* {
    padding: 0;
}

body {
    font-family: NoveoSans;
    background-repeat: no-repeat;
    background: url(/work/images/mesh-gradient2.png);
    background-size: cover;
    }

img {
    max-width: 90%;
}

main {
    height: 100vh;
}

.container {
    max-width: 100%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    /* flex: 1; */
}

.description {
    margin-top: 1em;
    flex: 0.3;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 80%;
    padding-bottom: 2em;
    font-size: 1.5em;
}

.description h1 {
    text-align: center;
}

.description ul {
    text-align: left;
    display: -webkit-box;
}

.description li {
    list-style: none;
    margin: 0.5em;
}

.image {
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 1.5em;
    width: 100vw !important;
    padding: 2em 0;
    color: var(--black);
    background: rgb(215,213,255);
    background: linear-gradient(90deg, rgba(215,213,255,1) 0%, rgba(204,255,215,1) 35%, rgba(164,197,203,1) 69%, rgba(136,205,221,1) 100%);    width: 100vh;
}

.contact h2 {
    margin-bottom: 15px;
}

.contact li {
    margin: 10px;
}

.contact li:last-child {
    text-decoration: underline;
}

.navbar {
    position: unset !important;
}
