@font-face { font-family: NoveoSans; src: url('/NoveoSans-Book.ttf'); } 

:root {
    --black: rgb(71, 71, 71);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: NoveoSans;
    width: 100vw;
    overflow-x: hidden;
}

img {
    max-width: 90%;
}

a {
    text-decoration: none;
}

.container {
    max-width: 100%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.description {
    margin-top: 1em;
    flex: 0.3;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 80%;
    padding-bottom: 2em;
    font-size: 1.5em;
}

.description h1 {
    text-align: center;
}

.description ul {
    text-align: left;
    display: -webkit-box;
}

.description li {
    list-style: none;
    margin: 1em 0;
}

.image {
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 1.5em;
    width: 100vw !important;
    padding: 2em 0;
    color: white;
    background-color: #9eb5a1;
}

.contact h2 {
    margin-bottom: 15px;
}

.contact li {
    margin: 10px;
}

.contact li:last-child {
    text-decoration: underline;
}

.navbar {
    position: unset !important;
}
